{% extends "cotalog/base_generic.html" %}

{% block content %}
  <div class="container">
    <h1 class="my-4">Book List</h1>
    <div class="list-group">
      {% for book in book_list %}
      <a href="{{ book.get_absolute_url }}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ book.title }}</h5>
        <p class="mb-1">Author: {{ book.author }}</p>
      </a>
      {% endfor %}
    </div>
    {% if not book_list %}
    <p class="mt-4">There are no books in the library.</p>
    {% endif %}
  </div>
{% endblock %}
